# Dependencies
node_modules/
# dist/
build/

# Environment
.env
*.env.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo

# Test
coverage/


# Other
Project Idea.md
MODULE_RULE.md